body{
    background-color: #F1F8E9;
}

.header{
    display: flex;
    justify-content: space-around;
    height: 80px;
    background-color: #F1F8E9;
}
.titre{
    margin: 25px;
    float: left !important;
    transition: 0,8ms;
    font-size: 25px;
    color: black;
    
}
li{
    display: inline;
    color: rgb(0, 17, 255);
    float: left !important;
    margin-left: 45px;
    font-size: 25px;
}
main{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    gap: 10px;
}
.produit{
    width: 280px;
    height: 200px;
    border-radius: 5px;
    transition:;
}
.accueil{
    display: flex;
    justify-content: space-around;
    background-color: #C0B7BC;
    
    
}
a:hover{
    color: aqua;
}
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 40px;
}
img:hover{
    transition: ;
}
.col{
    transition: transform 0,5s;
}
.col:hover{
     transform: translateY(-5px);
}
h3{
    text-align: center;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
}